<!--Bar Chart Starts-->
<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Goals and Actions by Category</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="bar-chart" class="height-400">
                        <x-chartist [data]="Chart.data" [type]="Chart.type" [options]="Chart.options" [responsiveOptions]="Chart.responsiveOptions" [events]="Chart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bar Chart Ends-->