<section id="choose-plan">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div>
                    <div class="card-content">
                        <div class="card-body p-0">
                            <div class="row m-0">
                                <div class="col-md-12 px-4 pt-3 pb-5 register-form">
                                    <img class="register-logo" src="assets/img/logos/lot-generic-logo-w.png" alt="">
                                    <h4 class="card-title mb-5 register-title">desktop application</h4>
                                    <div class="row">
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white">
                                                <img src="assets/img/logos/lot-generic-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white">
                                                <img src="assets/img/logos/lot-business-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white">
                                                <img src="assets/img/logos/lot-sport-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white disabled">
                                                <img src="assets/img/logos/lot-kids-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white disabled">
                                                <img src="assets/img/logos/lot-student-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="col-12 app-type-register bg-white disabled">
                                                <img src="assets/img/logos/lot-generic-logo.png" alt="">
                                                <div class="app-descr">
                                                    <p>This content will come from REST API and will describe benefits to of application type to user.</p>
                                                    <a class="btn" href="">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>