<section id="minimal-statistics">
    <div class="row">
        <div class="col-10 mb-1">
            <div class="content-header">Your progress dashboard</div>
            <p class="content-sub-header">This is summary of goals, actions and ideas added by you and your achievement rate.
            </p>
        </div>
        <div class="col-2 mb-1">
            <img class="img-fluid" src="./assets/img/logos/lot-logo-white-full.png" alt="">
        </div>
    </div>
    <div class="row" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 danger">8</h3>
                                <span>Goals created since 20 Jan 2019</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-rocket danger font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 success">56</h3>
                                <span>To Complete Actions</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-clock success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 warning">12</h3>
                                <span>Ideas Created since 20 Jan 2019</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-bulb warning font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 primary">36</h3>
                                <span>Days to complete actions</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-calendar primary font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Minimal statistics section end -->
<section id="minimal-statistics-bg">

    <div class="row" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-warning">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>2</h3>
                                <span>Goals Complete</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-check white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>13</h3>
                                <span>Actions complete</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-note white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-success">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>16</h3>
                                <span>Ideas turned into goals</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-refresh white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-danger">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>24.89 %</h3>
                                <span>Achievement Rate</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-pie-chart white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- статистика от примера старт-->

<!-- <div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Project Stats</h4>
            </div>
            <div class="card-content">

                <p class="font-medium-2 text-muted text-center">Project Tasks</p>
                <div id="donut-dashboard-chart" class="height-250 donut">
                    <x-chartist class="" [data]="DonutChart.data" [type]="DonutChart.type" [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions" [events]="DonutChart.events">
                    </x-chartist>
                </div>

                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <span class="mb-1 text-muted d-block">23% - Started</span>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 23%;" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col">
                            <span class="mb-1 text-muted d-block">14% - In Progress</span>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-amber" role="progressbar" style="width: 14%;" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <span class="mb-1 text-muted d-block">35% - Remaining</span>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-deep-purple bg-lighten-1" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col">
                            <span class="mb-1 text-muted d-block">28% - Done</span>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-blue" role="progressbar" style="width: 28%;" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- статистика от примера край-->


<!-- статистика от свилен начало-->
<div class="col-sm-12 mt-3 mb1">
    <div class="content-header">Latest Goals</div>
    <p class="content-sub-header">The last 3 goals added in application or those with nearest deadline.</p>
</div>


<!-- <ng-template ngFor let-chart [ngForOf]="dataChart" let-i="index"> -->
<div class="row">
    <div class="col-xl-4 col-lg-12" *ngFor="let chart of dataChart">
        <app-chart [chart]='chart'></app-chart>
    </div>
</div>

<app-bar-chart [chart]='barChart'></app-bar-chart>

<!-- </ng-template> -->



<!--Bar Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Goals and Actions by Category</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="bar-chart" class="height-400"></div>
                    <p style="color: #009DA0">Goals</p>
                    <p style="color: #FF8D60">Actions</p>
                </div>

            </div>

        </div>
    </div>
</div>
<!--Bar Chart Ends-->


<div class="row match-height">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My shedule</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">

                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div id='fc-default'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <app-blog-posts></app-blog-posts>

</div>