<!-- <tr> -->
<td>{{task.title}}</td>
<td><span *ngIf='task.until_date.day < 10'>0</span>{{task.until_date.day}} / <span *ngIf='task.until_date.month< 10'>0</span>{{task.until_date.month}} / {{task.until_date.year}} </td>
<td>
    <a class="success p-0" data-original-title="" title="" data-toggle="modal" data-target="#action" (click)="openModal('createEditModal', 'action', 'edit', task)">
        <i class="ft-edit-2 font-medium-3 mr-2"></i>
    </a>
    <a class="danger p-0" data-original-title="" title="" (click)="openModal('confirmModal', 'action', 'delete', task)">
        <i class="ft-x font-medium-3 mr-2"></i>
    </a>
</td>
<!-- </tr> -->