<!-- <div class="col-sm-12 col-md-6"> -->
<ng-template [ngIf]='post'>
    <div class="card">
        <div class="card-content">
            <img class="card-img-top img-fluid" [src]="post.image? post.image : image" alt="image">
            <div class="card-body">
                <h4 class="card-title" *ngIf="post.title">{{post.title}}</h4>
                <p></p>
                <p class="card-text" [innerHtml]="post.text" *ngIf="post.text">
                </p>
                <a [href]="post.link? post.link : ''" class="btn btn-raised btn-warning">View more</a>
            </div>
        </div>
    </div>
</ng-template>
<!-- </div> -->